<form action=""  [formGroup]="formGroup" >
    <div class="form-container">
        
        <div class="form-container_icon">
            <img src="/images/icon-hour.png" alt="watch icon">
            <p>Horário</p>
        </div>
        
        <div class="form-container_hour">
            <h3>Qual período quer treinar?</h3>
            <div class="form-container-radio_wrapper">
                <input type="radio" name="hour" value="morning" formControlName="hour"> 
                <label for="hour">Manhã</label>
                <span>06:00 às 12:00</span>
            </div>
            <div class="form-container-radio_wrapper">
                <input type="radio" name="hour" value="afternoon" formControlName="hour"> 
                <label for="hour">Tarde</label>
                <span>12:01 às 18:00</span>
            </div>
            <div class="form-container-radio_wrapper">
                <input type="radio" name="hour" value="night" formControlName="hour" > 
                <label for="hour">Noite</label>
                <span>18:01 às 22:00</span>
            </div>
            
        </div>

        <div class="form-container-closed_gym">
            <div class="input-wrapper">
                <input type="checkbox" name="showClosed" formControlName="showClosed">
                <label for="showClosed">Exibir unidades fechadas</label>
            </div>
            <span>Resultados encontrados: {{ results.length }}</span>
        </div>
        <div class="form-container_button">
            <button class="button-primary" (click)="onSubmit()">ENCONTRAR UNIDADE</button>
            <button class="button-secondary" (click)="onClean()">LIMPAR</button>
        </div>
    </div>
</form>
